<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 	<display-name>background</display-name>
	<context-param>
		<param-name>messages</param-name>
		<param-value>i18n.MessageResources</param-value>
	</context-param>
	<listener>
		<description>Inicializador de aplicacion</description>
		<listener-class>util.listener.AppStartup</listener-class>
	</listener>
	<jsp-config>
		<taglib>
			<taglib-uri>/tld/struts-bean</taglib-uri>
			<taglib-location>/common/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-logic</taglib-uri>
			<taglib-location>/common/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-html</taglib-uri>
			<taglib-location>/common/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/c</taglib-uri>
			<taglib-location>/common/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/fmt</taglib-uri>
			<taglib-location>/common/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/sql</taglib-uri>
			<taglib-location>/common/tld/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-nested</taglib-uri>
			<taglib-location>/common/tld/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-tiles</taglib-uri>
			<taglib-location>/common/tld/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/x</taglib-uri>
			<taglib-location>/common/tld/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/framework</taglib-uri>
			<taglib-location>/common/tld/frame.tld</taglib-location>
		</taglib>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/index.jsp</location>
	</error-page>
</web-app>